@font-face {
  font-family: "SourceHanSerifHK";
  src:
    url("../../assets/fonts/SourceHanSerifHK-Heavy.woff2") format("woff2") font-weight-heavy,
    url("../../assets/fonts/SourceHanSerifHK-Bold.woff2") format("woff2") font-weight-bold,
    url("../../assets/fonts/SourceHanSerifHK-Light.woff2") format("woff2") font-weight-light;
}

@font-face {
  font-family: "Source Han Serif SC VF";
  src: url("https://cdn.jsdelivr.net/npm/cn-fontsource-source-han-serif-sc-vf-regular/font.css")
    format("otf");
  font-weight: normal;
  font-style: auto;
  font-display: swap;
}

.color-galary {
  position: fixed;
  top: 120rpx;
  left: 0;
  right: 0;
  bottom: 160rpx;
  display: flex;
  flex-direction: column;
}

.color-detail {
  width: 100%;
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.color-preview {
  width: 100%;
  height: 80px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.color-list {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  height: 0;
  box-sizing: border-box;
}

.color-info-detail {
  .color-title {
    margin-bottom: 24rpx;
    text-align: center;
    color: var(--text-color);

    .chinese {
      // ref: https://cdn.jsdelivr.net/npm/cn-fontsource-source-han-serif-sc-vf-regular/font.css
      // font-family: Roboto, "Source Han Serif SC VF", sans-serif;
      font-family: "SourceHanSerifHK";
      font-size: 64rpx;
      // todo: why font-weight not work
      font-weight: heavy;

      display: block;
      margin-bottom: 4px;
      letter-spacing: 8rpx;
    }

    .english {
      display: block;
      font-size: 32rpx;
      letter-spacing: 4rpx;
    }
  }
}

.color-data {
  .data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &:last-child {
      border-bottom: none;
    }

    .label {
      font-size: 14px;
    }

    .value {
      font-size: 14px;
      font-family: monospace;
    }
  }
}

.color-list::-webkit-scrollbar {
  width: 3px;
}

.color-list::-webkit-scrollbar-track {
  background: transparent;
}

.color-list::-webkit-scrollbar-thumb {
  background: currentColor;
  opacity: 0.2;
  border-radius: 2px;
}
